.Profile_container{
    -fx-alignment: center_left;
    -fx-border-radius: 5;
    -fx-spacing: 10;
    -fx-padding: 0 0 0 30;
}
.Profile_container Label{
    -fx-alignment: center;
    -fx-font-size: 1.5em;
    -fx-font-family: Calibri;
}
.profile_image{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-background-color: white;
    -fx-border-radius: 50%;
}
.Interactions_container{
    -fx-alignment: center;
    -fx-spacing: 32;
}
.Like_container {
    -fx-spacing: 18;
    -fx-alignment: center;
}
.Like_container Label{
    -fx-font-size: 1.2em;
    -fx-font-weight: 700;
}
.Body_container{
    -fx-padding: 15;
    -fx-spacing: 15;
}
.Body_container ImageView{
    -fx-alignment: center;

}
.Body_container Label{
    -fx-font-family: "Calibri";
    -fx-font-size: 1.2em;
    -fx-font-weight: 600;
}
.comment {
    -fx-background-color: transparent;

}
.comment FontAwesomeIconView:hover{
    -fx-cursor: hand;
    -fx-fill: #AAAAAA;
}
.dislike:hover{
    -fx-cursor: hand;
    -fx-fill: #1f77ea;
}
.like:hover{
    -fx-cursor: hand;
    -fx-fill: #ee4646;
}
.post_container{
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box,#CCCCCC,6,0,0,5);
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 10;
}
.comment_submit_container{
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-border-radius: 100;
}
.comment_cells_container{
    -fx-border-radius: 100;
    -fx-background-color: #aaaaaa;
}